body {
  font-family: 'Courier Prime', monospace;
  min-height: 75rem;
  padding-top: 4.5rem;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Courier Prime', monospace;
}
p {
    font-size: 18px;
    font-family: 'Courier Prime', monospace;
}

div {
  font-family: 'Courier Prime', monospace;
}

body {
    background-color:white;
    font-family: 'Courier Prime', monospace;
}

.header{
  margin-left: 25%;
}

h1 {
  color:black;
  font-size: 200%;
  /* margin-left: 25%; */
}

h3 {
  font: 125%;
}

section {
  height: 300px;
  background-color: white;
  border: solid grey;
  border-radius: 20px;
}

footer {
  height: 150px;
  background-color: grey;
  border-radius: 40px;
}

nav {
  display: flex;
  justify-content: space-between;
}

img {
  display: flexbox;
  margin-right: 50%;
  width: 45%;
  height: 45%;
}

.stock-imgs {
  display: flex;
  float: left;
  width: 27%;
  padding: 5px;
}

ul { 
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: 30px;
  width: 600px;
}

li {
  width: 175px;
  text-decoration: none;
}

/* styling for the text of the about me section */
.aboutme-text {
  margin-left: 50px;
  color:black;
}

/* styling for the text of the projects section */
.projects-text {
  margin-left: 50px;
  color:black;
}

/* Button Styling */
.button {
  width: 140px;
  height: 20px;
  border-radius: 30px;
  background-color: pink;
  text-align: center;
  font-size: 16px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
}

.footer-style {
  margin-left: 245px;
}
